          .colour
          {
	      background-color:grey;
	      font-size:120%;
	      font-style: italic;
	      font-weight: 300;
	      text-align:right;
         }
         .header
         {
         	background-color:yellow;
         	font-size:200%;
         	font-style:bold;
         }