         .colour
          {
        font-size:120%;
        font-style: italic;
        font-weight: 300;
        float:left;
        clear:right;
         }
         section
         {
          clear:both;
         }
         .header
         {
          font-size:200%;
          font-style:bold;
         }
         #p1{
          width:600px;
          margin-top: -300px
         }
         #p2{
          width:600px;
            }
         #p3{
           width:650px;
            }
         #p4{
           width:650px;
          }
         #p5{  
           width:650px;
          }
         #p6{
           width:700px;
          }
         #p7{
             margin-top:200px;
            }           
         #p8{
             margin-top:200px;
          }
         @media(min-width: 900px)
                {
              
                  .correctheader
                  {
                    border:5px solid black;
                    height:100%;
                    width:100%;
                  }
                  .correctpara
                  {
 
                     box-sizing: border-box;
                     margin: 0;
                     padding: 0;
                     float:right;
                     border:5px solid black;
                    
                }
            
            /*#p1{
              width:45%;
              margin-top:-350px;

            }
            #p2{
              width:35%;
              margin-top:-400px;

            }
            #p3{
              width:35%;
              margin-top:-400px;
              font-size:13px;
                }
              #p4{
                margin-top: -300px;
                width:35%;
              }
              #p5{
                width:35%;
                margin-top:-400px;
                font-size:16px;
              }
              #p6{
                margin-top: -750px;
                width:35%;
                font-size:16px;
              }*/
                .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
              @media(min-width:1200px)
              {

               /* #p1
                {
                  margin-top:-300px;
                  width:60%;
                  font-size:30px;
                }
                #p2
                {
                  width:52%;
                  margin-top:-410px;
                  font-size:30px;

                }
                #p3
                {
                  width:53%;
                  font-style:bold;
                  font-size:23px;
                }
                #p4
                {
                  margin-top: -300px;
                  width:53%;
                  font-size:24px;
                }
                #p5
                {
                  width:53%;
                  font-size:24px;
                }
                #p6
                {
                  width:53%;
                  font-size:24px;
                }                 

              }


          }*/
            .col-lg-1 {
    width: 8.33%;

  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }